*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  width: 60%;
  padding: 45px;
  border-radius: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.row{
  box-shadow: rgba(99,99,99,0.2) 0px 2px 8px 0px;
}

.col-md-7{
  padding: 20px;
}

.col-md-5
{ background-color: #0d6efd;
  padding: 20px;
  color: white;
}

.form-control{
  height:52px;
  background: white;
  color:black;
  font-size:14px;
  border-radius:2px;
  box-sizing: none;
  border:1px solid rgba(0,0,0,0.1);
}

.bi{
  font-size: 20px;
  padding-right:18px;
}

.d-flex {
  font-size: 18px;
  padding-left:18px;
  font-family: verdana;
}

@media only screen and (max-width:600px) {
   .container{
     width: 100%;
   }
}
